*{
    padding:0%;
    margin:0%;
}

/*Variables*/
:root {
    --principal: #525252;
    --secondary:#662663 ;
    --font-primary: "cambria";
    --font-color: #250524; 
}

/*Navbar*/

header{
    background-color: #570670;
    font-family: Cambria, Cochin, Georgia, serif;
}

a {
    font-size: 2.00em;
    text-decoration: none;
    color:black;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 100;
}

/*Body*/

.gradient{
    background-image: linear-gradient(to top right, #86cb92, #620b9c);
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    width: 100%;
}

/*Descripción-logo-presentación*/

.logo{
    margin-left: 35px;
}
    
.descripción-presentación {
    justify-content: center;
    margin-top: 15%;
    font-family: var(--font-primary);
    font-size: 3.0em;
    color: var(--font-color);
}

/*Index*/

.imagen-home {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    margin-left: 50px;
}

/*About*/

.imagen-about{
    margin-left: 35px;
}

.descripción-about{
    margin-top: 40px;
    font-size: 2.0em;
    font-family: var(--font-primary);
}

/*Decoración*/

.imagen-decoracion{
    display: grid;
    grid-template-columns: repeat(3, 10%);
}

/*Peques*/

.imagen-peques{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
}

/*Footer*/
#contenedor-footer {
    background-color: #BA7FE7;
    padding: 10px;
    font-size: 1.0em;
}

.boton-footer{
    text-decoration: none;
    margin-left: 35px;
    margin-right: 35px;
    font-family: var(--font-primary);
}

.imagenRedes{
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 35px;
}

